.layout {
  min-height: 100vh;
}

.header-flex {
  display: flex;
  align-items: center;
}

.logo {
  float: none;
  width: 180px;
  height: 31px;
  margin: 16px 24px 16px 32px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.ant-layout-header {
  background: #001529;
}

.ant-layout-footer {
  background: #f0f2f5;
} 